.gamelist{
	padding-left: 15px !important;
}

.gamelist li{
	margin-top: 0.5em;
}

@-moz-document url-prefix() {
	fieldset {
		display: table-cell !important;
	}
}
.img-responsive{
	width:100%;
}

.alert_row{
	z-index : 1100 !important;
	position: fixed !important;
	margin-top: 15px !important;
	width: 100% !important;
	margin-left: 0px !important;
	margin-right: 0px !important;
	display: none;
}

#not-played{
	background-color: #ddd;
	padding-top: calc(56.25%/2) ;
	padding-bottom: calc(56.25%/2);
}

.input-sm{
	width: 125% !important;
}

#result{
	position: absolute;
	display: none;
	z-index: 3;
	background-color: pink;
	top: 35px;
	width: 100%;

	background-color: rgb(231, 231, 231);
	border-style: none solid solid;
	border-width: 1px;
	border-color: rgb(204, 204, 204);
}
.result_type{
	border-bottom-style: solid;
	border-bottom-color: #fff;
	border-width: 1px;
	padding: 5px;
}
.result_found{
	padding: 5px;
	padding-left: 15px;
}
.result_found:hover{
	background-color: #ddd;
}